/* This is your custom CSS file */
 /* region homepage */
.page__header {
	position: sticky;
    top: 0;
    z-index: 999;
    background-color:#ffffff;
}

.header__logo {
	width: 150px;
}

.page__content {
	width: 1000px;
	margin: auto;
}

.link__cnt {
	padding: 0;
	list-style-type: none;
	width: 400px;
}

.set__position {
	width: 80%;
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translate(-50%);
}

.width__one__third{
	width: calc(100% / 3);
}

.most__viewed__section__grid {
	display: grid;
	/* gap: 1.5rem; */
	/* grid-template-columns: 1fr 1fr; */
	grid-template-columns: repeat(2, 1fr);
}

.most__viewed__article:nth-child(n + 3) {
	border-top: 2px solid #dfdfdf;
}

.most__viewed__article:nth-child(odd) {
	padding: 1rem 1rem 1rem 0;
	border-right: 2px solid #dfdfdf;
}

.most__viewed__article:nth-child(even) {
	padding: 1rem;
}

/* region general  classes */
.no__style__link {
	text-decoration: none;
	color: #0f0f7b;
}

.no__style__link:hover {
	text-decoration: underline;
}

.display__text__blue {
	color: #0b0b85;
}

@media screen and (max-width: 1096px) {
    .page__content {
      width: 100%;
      margin: 0;
    }

	.headlines__image {
		height: 100%;
	}
}
@media screen and (max-width:718px ) {
    .direction__column {
        flex-direction: column;
    }

	.full__width {
		width: 100%!important;
	}

	.px__none {
		padding-left: 0!important;
		padding-right: 0!important;
	}

	.bx__none {
		border-right: none!important;
		border-left: none!important;
	}

	.hr__visibility {
		visibility: hidden;
	}
}


@media screen and (max-width:900px ){
	.page__header {
        flex-direction: column;
    }

	.mx__logo{
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

@media screen and (max-width:715px ) {

	body {
		overflow-x: hidden;
		width: 100%;
	}

	.media__header__wrap {
		flex-direction: column!important;
		align-items: center!important;
	}

	.media__no__width {
		width: 0!important;
	}

	.px__1 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* region postpage */

.font__montserrat {
	font-family: 'Montserrat', sans-serif;
}

.orion {
	width: 100px;
	height: 100px;
}

.img__width {
	width: 70%;
}

.article__wrapper {
	display: flex;
}

.w__70 {
	width: 70%;
}

.fun__facts {
	width: 30%;
	align-self: center;
    padding: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
