/* This is your custom CSS file */
.header__logo {
	width: 200px;
}

.page__content {
	width: 1300px;
    margin: auto;
}

.link__cnt {
	padding: 0;
	list-style-type: none;
	width: 400px;
}

.set__position {
	width: 80%;
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translate(-50%);
}

.opinion__articles__width {
	width: calc(100% / 3);
}

.most__viewed__section__grid {
display: grid;
/* gap: 1.5rem; */
/* grid-template-columns: 1fr 1fr; */
grid-template-columns: repeat(2, 1fr);

}

.most__viewed__article:nth-child(n+3) {
    border-top: 2px solid #dfdfdf;
}

.most__viewed__article:nth-child(odd) {
    padding: 1rem 1rem 1rem 0; 
    border-right: 2px solid #dfdfdf;
}

.most__viewed__article:nth-child(even) {
    padding: 1rem; 
}

/* region general  classes */
.no__style__link {
	text-decoration: none;
	color: #0f0f7b;
}

.no__style__link:hover {
    text-decoration: underline;
}

.display__text__blue {
	color: #0b0b85;
}

